<html lang=en>
{% include 'styles.html' %}
<head>
<style>
.container{width:100%;}
.report{width:100%;}
.input{}
</style>
</head>	
{% include 'header.html' %}
{% include 'alert.html' %}

<body class=base>
<div>
	<a id=dashbtn href={{url_for('dashboard')}}>Return to Dashboard</a><br>
	<div class=container>
		<b style=font-size:30>Assets</b>
		<table class=report>
			<tr>
				<th>Asset Tag</th>
				<th>Description</th>
				<th>Facility</th>
				<th>Intake Date</th>
				<th>Expunge Date</th>
				<th>Status</th>
			</tr>
			{% for asset in session['assets'] %}
			<tr>
				<td>{{asset[0]}}</td>
				<td>{{asset[1]}}</td>
				<td>{{asset[2]}}</td>	
				<td>{{asset[3]}}</td>
				<td>{{asset[4]}}</td>
				<td>{{asset[5]}}</td>
			</tr>
			{% endfor %}
		</table>
	</div><br>
	<div class=input>
		<form action="" method='POST'>
			<select name="asset_tag">
				{% for asset in session['assets'] %}
				{% if asset[5] == 'Active' %}
				<option>{{asset[0]}}</option>
				{% endif %}
				{% endfor %}
			</select>
			<label>Date: </label>
			<input type=text name=date placeholder="yyyy-mm-dd"/>
			<input type=submit value="Dispose Asset"/>
		</form>
	</div>

</div>
</body>
</html>
