<html lang=en>
{% include 'styles.html' %}
{% include 'header.html' %}
{% include 'alert.html' %}

<body class=base>
	<fieldset style=background:#ddd>
		<a><b>Login</b></a>
		<form action="" method="post" style=padding-top:8px>
			<table>
			<tr>
				<td><label>Username: </label></td>
				<td><input type="text" name="username" required></td>
			</tr>
			<tr>
				<td><label>Password: </label></td>
				<td><input type="password" name="password" required></td>
			</tr>
			<tr>
				<td><input type="submit" value="Log in"></td>
			</tr>
			</table>
		</form>
	</fieldset>
</body>

</html>
