<!DOCTYPE html>
<html lang=en>
	{% include 'header.html' %}
	<head>
		<a href={{session['logout_url']}}>Logout</a>
	</head>
	<br><br>
	<body>
		<fieldset>
			<legend>Facility</legend>
			<form action={{session['facility_url']}} method="get">
				<label>Start date (yyyy-mm-dd): </label>
				<input type="text" name="sdate" placeholder='All dates if blank'>
				<br>
				<label>End date (yyyy-mm-dd): </label>
				<input type="text" name="edate" placeholder='Optional'>
				<br>
				<label>Facility code</label>
				<input type="text" name="facility" placeholder='All facilities if blank'>
				<br>
				<input type="submit" value="Search facilities">
			</form>
		</fieldset>


		<fieldset>
			<legend>Convoy</legend>
			<form action={{session['transit_url']}} method="get">
				<label>Start date (yyyy-mm-dd): </label>
				<input type="text" name="sdate"><br>
				<label>End date (yyyy-mm-dd): </label>
				<input type="text" name="edate"><br>
				<label>Source facility code</label>
				<input type="text" name="src"><br>
				<label>Destination facility code</label>
				<input type="text" name="dest"><br>
				<input type="submit" value="Search convoys">
			</form>
		</fieldset>

	</body>

</html>
